trigger: none 
pool: vky

steps: 
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'
    force32bit: true

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm install'


- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm run build'

    