trigger: none 
pool: vky

steps: 
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'
    force32bit: true

- task: PowerShell@2
  displayName: NPM install
  inputs:
    targetType: 'inline'
    script: 'npm install'


- task: PowerShell@2
  displayName: NPM Build
  inputs:
    targetType: 'inline'
    script: 'npm run build'

- task: PublishBuildArtifacts@1
  displayName: Publish Artifact
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)/build'
    ArtifactName: 'frontend-build'    

- task: DownloadPipelineArtifact@2
  inputs:
    buildType: 'current'
    artifactName: 'frontend-build'
    targetPath: '$(System.DefaultWorkingDirectory)/build'